<main>
    <h1>Albums</h1>
    <section id="album-gallery">
        <div id="col1" class="gallery-column">
            <div id="invincible" class="album-cover-container">
                <img src="/images/invincible.jpg" alt="Invincible">
                <div class="middle">
                    <h2>Invincible</h2>
                    <a href="https://open.spotify.com/album/0zOdkaCbYN1B42zw8TUYlY" class="fa fa-spotify"></a>
                </div>
            </div>
            <div id="miracles" class="album-cover-container">
                <img src="/images/miracles.jpg" alt="Miracles">
                <div class="middle">
                    <h2>Miracles</h2>
                    <a href="https://open.spotify.com/album/4wI5C041sDGltcKoh1fOz7" class="fa fa-spotify"></a>
                </div>
            </div>
            <div id="unleashed" class="album-cover-container">
                <img src="/images/unleashed.png" alt="Unleashed">
                <div class="middle">
                    <h2>Unleashed</h2>
                    <a href="https://open.spotify.com/album/6G0POeSml1dY0l8SuvhY6s" class="fa fa-spotify"></a>
                </div>
            </div>
        </div>
        <div id="col2" class="gallery-column">
            <div id="archangel" class="album-cover-container">
                <img src="/images/archangel.jpg" alt="Archangel">
                <div class="middle">
                    <h2>Archangel</h2>
                    <a href="https://open.spotify.com/album/1TVpHhBK3pSTqizgLLh16s" class="fa fa-spotify"></a>
                </div>
            </div>
            <div id="battlecry" class="album-cover-container">
                <img src="/images/battlecry.jpg" alt="Battlecry">
                <div class="middle">
                    <h2>Battlecry</h2>
                    <a href="https://open.spotify.com/album/4y7T04fej3MJ8tAe2FeKD5" class="fa fa-spotify"></a>
                </div>
            </div>
            <div id="dragon" class="album-cover-container">
                <img src="/images/dragon.png" alt="Dragon">
                <div class="middle">
                    <h2>Dragon</h2>
                    <a href="https://open.spotify.com/album/7I5PK0V1gvLsAkpDJbjfqJ" class="fa fa-spotify"></a>
                </div>
            </div>
        </div>
        <div id="col3" class="gallery-column">
            <div id="skyworld" class="album-cover-container">
                <img src="/images/skyworld.jpg" alt="Skyworld">
                <div class="middle">
                    <h2>Skyworld</h2>
                    <a href="https://open.spotify.com/album/01w0dp5OVOgviPw2HHXB3M" class="fa fa-spotify"></a>
                </div>
            </div>
            <div id="classics-volume-2" class="album-cover-container">
                <img src="/images/classics-volume-2.jpg" alt="Classics Volume 2">
                <div class="middle">
                    <h2>Classics Volume 2</h2>
                    <a href="https://open.spotify.com/album/5aQcKqRbuee5MP8TnHGHTK" class="fa fa-spotify"></a>
                </div>
            </div>
            <div id="myth" class="album-cover-container">
                <img src="/images/myth.png" alt="Myth">
                <div class="middle">
                    <h2>Myth</h2>
                    <a href="https://open.spotify.com/album/5iZq2XooveQg7ZgfxN9oS9" class="fa fa-spotify"></a>
                </div>
            </div>
        </div>
        <div id="col4" class="gallery-column">
            <div id="classics-volume-1" class="album-cover-container">
                <img src="/images/classics-volume-1.jpg" alt="Classics Volume 1">
                <div class="middle">
                    <h2>Classics Volume 1</h2>
                    <a href="https://open.spotify.com/album/6X1BVrP7yJJnpRBncnGIB5" class="fa fa-spotify"></a>
                </div>
            </div>
            <div id="vanquish" class="album-cover-container">
                <img src="/images/vanquish.jpg" alt="Vanquish">
                <div class="middle">
                    <h2>Vanquish</h2>
                    <a href="https://open.spotify.com/album/4LTuRCaAMbtmkuiG808J48" class="fa fa-spotify"></a>
                </div>
            </div>
        </div>
    </section>
</main>
