<!-- This is an auxiliary file showing the structure of elements related to comment sections -->



<!-- 
    General structure (json database):

    [
        {
            comment: commentObj,
            replies: [
                {
                    toWhatReply: commentObj,
                    comment: commentObj
                },
                {
                    toWhatReply: commentObj,
                    comment: commentObj
                },
                {
                    toWhatReply: commentObj,
                    comment: commentObj
                }
            ]
        },
        {
            comment: commentObj,
            replies: [
                {
                    toWhatReply: commentObj,
                    comment: commentObj
                },
                {
                    toWhatReply: commentObj,
                    comment: commentObj
                },
                {
                    toWhatReply: commentObj,
                    comment: commentObj
                }
            ]
        }
    ]

    commentObj = 
    { 
        id: id, 
        username: username, 
        date: date, 
        content: content, 
        voteResult: voteResult 
    }
 -->



<!-- 
    Convention for assigning IDs:

    comment-container (main comments):
        com-main_comment_number
        com-1, com-2, com-3

    comment-container (reply comments):
        com-reply_comment_number <=> com-main_comment_number-next_number
        com-1-1, com-2-5, com-3-10

    (next_number refers to the next integer within reply numberspace associated with each main comment)
 -->



<!-- Form for adding a new comment -->
<form class="add-comment-form add-new-comment">
    <textarea class="new-comment-area" name="newcomment" rows="5" required></textarea>
    <div class="acf-button-container">
        <button class="acf-button ok-comment-button" type="submit">OK</button>
        <button class="acf-button cancel-comment-button" type="reset">Cancel</button>
    </div>
</form>



<!-- Conversation -->
<div class="conversation-container">

    <!-- Main comment -->
    <div class="comment-container">
        <div class="comment-avatar">
            <img src="/images/avatar-placeholder.jpg" alt="avatar">
        </div>
        <div class="comment-right-column">
            <div class="comment-frame">
                <div class="comment-top-info">
                    <a href="/profile/vc69" class="comment-username">
                        vc69
                    </a>
                    <div class="comment-time">
                        05.01.2024 23:59
                    </div>
                </div>
                <div class="comment-main-text">
                    TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                </div>
            </div>
            <div class="comment-bottom-options">
                <div class="comment-voting">
                    <button class="comment-vote-up">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                        </svg>
                    </button>
                    <button class="comment-vote-down">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                        </svg>
                    </button>
                    <div class="comment-vote-result">
                        -1
                    </div>
                </div>
                <button class="comment-reply-button">
                    Reply
                </button>
            </div>
        </div>
    </div>

    <!-- Replies to the main comment -->
    <div class="replies-container">

        <!-- Reply -->
        <div class="reply-container">

            <!-- Reference to the comment being replied -->
            <div class="to-what-reply-container">
                vc69 wrote: "TSFH is awesome! TSFH is awesome! TSFH is awesome! ..."
            </div>

            <!-- Reply comment -->
            <div class="comment-container">
                <div class="comment-avatar">
                    <img src="/images/avatar-placeholder.jpg" alt="avatar">
                </div>
                <div class="comment-right-column">
                    <div class="comment-frame">
                        <div class="comment-top-info">
                            <a href="/profile/vc69" class="comment-username">
                                vc69
                            </a>
                            <div class="comment-time">
                                05.01.2024 23:59
                            </div>
                        </div>
                        <div class="comment-main-text">
                            TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                        </div>
                    </div>
                    <div class="comment-bottom-options">
                        <div class="comment-voting">
                            <button class="comment-vote-up">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <button class="comment-vote-down">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <div class="comment-vote-result">
                                -1
                            </div>
                        </div>
                        <button class="comment-reply-button">
                            Reply
                        </button>
                    </div>
                </div>
            </div>

            <!-- Form for adding a reply to the reply -->
            <form class="add-comment-form add-reply">
                <textarea class="new-comment-area" name="newcomment" rows="5" required></textarea>
                <div class="acf-button-container">
                    <button class="acf-button ok-comment-button" type="submit">OK</button>
                    <button class="acf-button cancel-comment-button" type="reset">Cancel</button>
                </div>
            </form>

        </div>

        <!-- Reply -->
        <div class="reply-container">

            <!-- Reference to the comment being replied -->
            <div class="to-what-reply-container">
                vc69 wrote: "TSFH is awesome! TSFH is awesome! TSFH is awesome! ..."
            </div>

            <!-- Reply comment -->
            <div class="comment-container">
                <div class="comment-avatar">
                    <img src="/images/avatar-placeholder.jpg" alt="avatar">
                </div>
                <div class="comment-right-column">
                    <div class="comment-frame">
                        <div class="comment-top-info">
                            <a href="/profile/vc69" class="comment-username">
                                vc69
                            </a>
                            <div class="comment-time">
                                05.01.2024 23:59
                            </div>
                        </div>
                        <div class="comment-main-text">
                            TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                        </div>
                    </div>
                    <div class="comment-bottom-options">
                        <div class="comment-voting">
                            <button class="comment-vote-up">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <button class="comment-vote-down">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <div class="comment-vote-result">
                                -1
                            </div>
                        </div>
                        <button class="comment-reply-button">
                            Reply
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Reply -->
        <div class="reply-container">

            <!-- Reference to the comment being replied -->
            <div class="to-what-reply-container">
                vc69 wrote: "TSFH is awesome! TSFH is awesome! TSFH is awesome! ..."
            </div>

            <!-- Reply comment -->
            <div class="comment-container">
                <div class="comment-avatar">
                    <img src="/images/avatar-placeholder.jpg" alt="avatar">
                </div>
                <div class="comment-right-column">
                    <div class="comment-frame">
                        <div class="comment-top-info">
                            <a href="/profile/vc69" class="comment-username">
                                vc69
                            </a>
                            <div class="comment-time">
                                05.01.2024 23:59
                            </div>
                        </div>
                        <div class="comment-main-text">
                            TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                        </div>
                    </div>
                    <div class="comment-bottom-options">
                        <div class="comment-voting">
                            <button class="comment-vote-up">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <button class="comment-vote-down">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <div class="comment-vote-result">
                                -1
                            </div>
                        </div>
                        <button class="comment-reply-button">
                            Reply
                        </button>
                    </div>
                </div>
            </div>

            <!-- Form for adding a reply to the reply -->
            <form class="add-comment-form add-reply">
                <textarea class="new-comment-area" name="newcomment" rows="5" required></textarea>
                <div class="acf-button-container">
                    <button class="acf-button ok-comment-button" type="submit">OK</button>
                    <button class="acf-button cancel-comment-button" type="reset">Cancel</button>
                </div>
            </form>

        </div>

    </div>

</div>



<!-- Conversation -->
<div class="conversation-container">

    <!-- Main comment -->
    <div class="comment-container">
        <div class="comment-avatar">
            <img src="/images/avatar-placeholder.jpg" alt="avatar">
        </div>
        <div class="comment-right-column">
            <div class="comment-frame">
                <div class="comment-top-info">
                    <a href="/profile/vc69" class="comment-username">
                        vc69
                    </a>
                    <div class="comment-time">
                        05.01.2024 23:59
                    </div>
                </div>
                <div class="comment-main-text">
                    TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                </div>
            </div>
            <div class="comment-bottom-options">
                <div class="comment-voting">
                    <button class="comment-vote-up">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                        </svg>
                    </button>
                    <button class="comment-vote-down">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                        </svg>
                    </button>
                    <div class="comment-vote-result">
                        -1
                    </div>
                </div>
                <button class="comment-reply-button">
                    Reply
                </button>
            </div>
        </div>
    </div>

    <!-- Form for adding a reply to the main comment -->
    <form class="add-comment-form add-reply">
        <textarea class="new-comment-area" name="newcomment" rows="5" required></textarea>
        <div class="acf-button-container">
            <button class="acf-button ok-comment-button" type="submit">OK</button>
            <button class="acf-button cancel-comment-button" type="reset">Cancel</button>
        </div>
    </form>

    <!-- Replies to the main comment -->
    <div class="replies-container">

    </div>

</div>



<!-- Conversation -->
<div class="conversation-container">

    <!-- Main comment -->
    <div class="comment-container">
        <div class="comment-avatar">
            <img src="/images/avatar-placeholder.jpg" alt="avatar">
        </div>
        <div class="comment-right-column">
            <div class="comment-frame">
                <div class="comment-top-info">
                    <a href="/profile/vc69" class="comment-username">
                        vc69
                    </a>
                    <div class="comment-time">
                        05.01.2024 23:59
                    </div>
                </div>
                <div class="comment-main-text">
                    TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                </div>
            </div>
            <div class="comment-bottom-options">
                <div class="comment-voting">
                    <button class="comment-vote-up">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                        </svg>
                    </button>
                    <button class="comment-vote-down">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                        </svg>
                    </button>
                    <div class="comment-vote-result">
                        -1
                    </div>
                </div>
                <button class="comment-reply-button">
                    Reply
                </button>
            </div>
        </div>
    </div>

    <!-- Replies to the main comment -->
    <div class="replies-container">

        <!-- Reply -->
        <div class="reply-container">

            <!-- Reference to the comment being replied -->
            <div class="to-what-reply-container">
                vc69 wrote: "TSFH is awesome! TSFH is awesome! TSFH is awesome! ..."
            </div>

            <!-- Reply comment -->
            <div class="comment-container">
                <div class="comment-avatar">
                    <img src="/images/avatar-placeholder.jpg" alt="avatar">
                </div>
                <div class="comment-right-column">
                    <div class="comment-frame">
                        <div class="comment-top-info">
                            <a href="/profile/vc69" class="comment-username">
                                vc69
                            </a>
                            <div class="comment-time">
                                05.01.2024 23:59
                            </div>
                        </div>
                        <div class="comment-main-text">
                            TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                        </div>
                    </div>
                    <div class="comment-bottom-options">
                        <div class="comment-voting">
                            <button class="comment-vote-up">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <button class="comment-vote-down">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <div class="comment-vote-result">
                                -1
                            </div>
                        </div>
                        <button class="comment-reply-button">
                            Reply
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Reply -->
        <div class="reply-container">

            <!-- Reference to the comment being replied -->
            <div class="to-what-reply-container">
                vc69 wrote: "TSFH is awesome! TSFH is awesome! TSFH is awesome! ..."
            </div>

            <!-- Reply comment -->
            <div class="comment-container">
                <div class="comment-avatar">
                    <img src="/images/avatar-placeholder.jpg" alt="avatar">
                </div>
                <div class="comment-right-column">
                    <div class="comment-frame">
                        <div class="comment-top-info">
                            <a href="/profile/vc69" class="comment-username">
                                vc69
                            </a>
                            <div class="comment-time">
                                05.01.2024 23:59
                            </div>
                        </div>
                        <div class="comment-main-text">
                            TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                        </div>
                    </div>
                    <div class="comment-bottom-options">
                        <div class="comment-voting">
                            <button class="comment-vote-up">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <button class="comment-vote-down">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <div class="comment-vote-result">
                                -1
                            </div>
                        </div>
                        <button class="comment-reply-button">
                            Reply
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Reply -->
        <div class="reply-container">

            <!-- Reference to the comment being replied -->
            <div class="to-what-reply-container">
                vc69 wrote: "TSFH is awesome! TSFH is awesome! TSFH is awesome! ..."
            </div>

            <!-- Reply comment -->
            <div class="comment-container">
                <div class="comment-avatar">
                    <img src="/images/avatar-placeholder.jpg" alt="avatar">
                </div>
                <div class="comment-right-column">
                    <div class="comment-frame">
                        <div class="comment-top-info">
                            <a href="/profile/vc69" class="comment-username">
                                vc69
                            </a>
                            <div class="comment-time">
                                05.01.2024 23:59
                            </div>
                        </div>
                        <div class="comment-main-text">
                            TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome! TSFH is awesome!
                        </div>
                    </div>
                    <div class="comment-bottom-options">
                        <div class="comment-voting">
                            <button class="comment-vote-up">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <button class="comment-vote-down">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"></path>
                                </svg>
                            </button>
                            <div class="comment-vote-result">
                                -1
                            </div>
                        </div>
                        <button class="comment-reply-button">
                            Reply
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
