<main>
    <h1>Founders of Two Steps From Hell</h1>
    <hr>
    <section>
        <h2>Thomas Bergersen</h2>
        <div class="description-container">
            <div class="quote-image-container">
                <img src="/images/tb-violin.jpg" alt="Thomas Bergersen">
                <blockquote cite="https://www.twostepsfromhell.com/">
                    <p>
                        <span class="first-letter">T</span>homas Bergersen was born in a small town in Norway and has spent his whole life living and breathing music.
                        He is a multi instrumentalist, proficient on piano, violin, trumpet and various other musical instruments.
                        He began playing piano at the age of 6, later moved into synths, computers and digital music where he would build the foundation for his later career, and then progressed into writing symphonic music in his teens.
                        One of his greatest interests is ethnic music and unique music culture.
                        As a result of this interest he has learned many languages and is constantly moving around the world to study music culture and their influences, searching for new inspiration.
                        His popular compositions with TSFH such as “Heart of Courage”, “Victory”, “Strength of a Thousand Men”, Protectors of the Earth”, “Impossible”, “Star Sky” and countless others have accumulated billions of views worldwide.
                        In addition he has a very successful solo career, with his largest opus to date “Humanity” representing the pinnacle of his career so far.
                        “Humanity” is a series of music in 7 chapters, featuring over 7 hours of orchestral music.
                        <span class="description-span">(description from the official website)</span>
                    </p>
                </blockquote>
            </div>
            <div class="links-container">
                <a class="official-website-link" href="https://www.thomasbergersen.com/">Thomas' website</a>
                <div class="social-media-links-container">
                    <a href="https://www.youtube.com/@TwoStepsFromHell-Official" class="fa fa-youtube"></a>
                    <a href="https://www.facebook.com/thomasbergersen/" class="fa fa-facebook"></a>
                    <a href="https://open.spotify.com/artist/6BF0bXbsdujMSMeFZBGcBq" class="fa fa-spotify"></a>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <h2>Nick Phoenix</h2>
        <div class="description-container">
            <div class="quote-image-container">
                <img src="/images/np-bass.jpg" alt="Nick Phoenix">
                <blockquote cite="https://www.twostepsfromhell.com/">
                    <p>
                        <span class="first-letter">N</span>ick Phoenix has had a unique journey as a song writer, singer and composer.
                        Nick was an instrumental part of a new genre of music called trailer music which developed into what we now know as epic music.
                        Nick teamed up with Thomas Bergersen in 2006 and together they created the epic powerhouse Two Steps From Hell.
                        Two Steps has now turned into a massively popular touring band and orchestra with sold out concerts across Europe.
                        Nick also was at the forefront of a new digital industry, sampling orchestral and ethnic instruments, to use in his compositions.
                        Over the course of 20 years, he developed some of the most successful virtual instruments ever released under the East West label.
                        Nick spent his early years playing classical piano and playing in rock bands.
                        He put aside his rock origins to pursue film/epic music, but has recently rekindled that fire.
                        His last solo rock album entitled “Wide World” hit #42 on the Billboard charts in the USA.
                        If you ask Nick, he’ll tell you his secret love is classic and modern rock.
                        “Underdog”, releasing this Fall, is an undeniably catchy and upbeat album with several memorable singles.
                        “Fractured Soul”, an epic rock anthem from the album, was played as an encore on the 2023 Two Steps From Hell tour, to great acclaim.
                        <span class="description-span">(description from the official website)</span>
                    </p>
                </blockquote>
            </div>
            <div class="links-container">
                <a class="official-website-link" href="https://nickphoenix.com/">Nick's website</a>
                <div class="social-media-links-container">
                    <a href="https://www.youtube.com/@TwoStepsFromHell-Official" class="fa fa-youtube"></a>
                    <a href="https://www.facebook.com/nickphoenixartist/" class="fa fa-facebook"></a>
                    <a href="https://open.spotify.com/artist/3EvzCyNmY3kbUkMawjsndF" class="fa fa-spotify"></a>
                </div>
            </div>
        </div>
    </section>
</main>
