<header id="main-header">
    <img id="main-header-image" src="/images/tsfh-logo-header.jpeg" alt="2">
    <div id="main-header-titles">
        <h1>TWO STEPS FROM HELL</h1>
        <h2>THOMAS BERGERSEN & NICK PHOENIX</h2>
        <h3>MUSIC MAKES YOU BRAVER</h3>
    </div>
</header>
<main>
    <section id="about-tsfh" class="main-page-section">
        <h3>About Two Steps From Hell</h3>
        <div id="portraits-quote-container">
            <div id="tb-np-container">
                <img src="/images/tb.jpg" alt="TB">
                <img src="/images/np.jpg" alt="NP">
            </div>
            <div id="tsfh-description-container">
                <blockquote cite="https://www.twostepsfromhell.com/">
                    <p>
                    "Two Steps From Hell was formed back in 2006 when Thomas Bergersen and Nick Phoenix joined forces to write original music for movie trailers.
                    13 years later, TSFH has been featured in hundreds of movie ads, including some of the biggest blockbusters of recent time, as well as thousands of TV ads and programmes.
                    TSFH released their first public album, Invincible, in 2009, establishing epic music as a new and unique musical genre.
                    There are now 14 public albums and millions of fans worldwide.
                    With their unmistakable and - in the best sense of the word - bombastic sound characterised by ancient chants, titles such as “Protectors of the Earth”, “Heart of Courage”, “Victory” and “Archangel” set the heartbeats of millions of fans racing and perfectly complement the (film) images they accompany."
                    </p>
                </blockquote>
                <p>(description from the official website)</p>
            </div>
        </div>
    </section>
    <section id="tsfh-live" class="main-page-section">
        <h3>Two Steps From Hell Live</h3>
        <div id="tsfh-live-gallery">
            <img src="/images/tsfh-live-1.jpg" alt="TSFH Live">
            <img src="/images/tsfh-live-2.jpg" alt="TSFH Live">
            <img src="/images/tsfh-live-3.jpg" alt="TSFH Live">
            <img src="/images/tsfh-live-4.jpg" alt="TSFH Live">
        </div>
        <div id="tsfh-live-album">
            <h4>Listen on Spotify!</h4>
            <img src="/images/tsfh-live-album-cover.jpg" alt="TSFH Live Album Cover">
            <a href="https://open.spotify.com/album/3TSyQXGRUFIOdq6MscHgdJ">Live - An Epic Music Experience</a>
        </div>
    </section>
    <section id="recent-music" class="main-page-section">
        <h3>Recent Music</h3>
        <div id="yt-container">
            <iframe src="https://www.youtube.com/embed/79ILqbLye0s"></iframe>
            <iframe src="https://www.youtube.com/embed/2QDT_fOAZ_4"></iframe>
        </div>
    </section>
</main>
