main {
    text-align: center;
    padding: 0 12px;
}

h1 {
    margin: 66px auto;
}

form {
    background-color: #0d1117;
    border-radius: 8px;
    margin: 66px auto;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 1px #2e2e3a;
}

.form-field-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-size: 1.1em;
}

#forgot-password {
    align-self: flex-end;
    margin-top: 5px;
    color: #358dcb;
    cursor: pointer;
}

#forgot-password:hover {
    color: #00b270;
}

input {
    color: white;
    background-color: #1e2238;
    border: 2px solid #1e2238;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1.1em;
}

input:focus {
    outline: none;
    border-color: #2f81f7;
}

#submit-button {
    color: white;
    background-color: transparent;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #686868;
    border-radius: 10px;
    font-size: 1.05em;
}

#submit-button:hover {
    background-color: #00b270;
}

@media screen and (max-width: 450px) {
    form {
        width: 100%;
    }
}