* {
    box-sizing: border-box;
}

body {
    color: #dcdcdc;
    background-color: #1d1d2d;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar {
    background-color: #12112b;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #686868;
}

.navbar-logo {
    padding: 5px;
    height: 100%;
}

.navbar-logo img {
    height: 100%;
    border-radius: 50%;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.navbar-links ul li:hover {
    background-color: #40414f;
}

.navbar-links ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-toggle {
    display: none;
    color: white;
    background-color: #12112b;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #686868;
    border-radius: 10px;
    font-size: 1.05em;
}

.navbar-toggle:hover {
    background-color: #00b270;
}

.foot {
    background-color: #19191f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #686868;
}

.foot-horizontal {
    padding-bottom: 45px;
    display: flex;
    border-bottom: 1px solid #686868;
}

.foot-horizontal div {
    padding: 15px 30px;
}

.foot-horizontal div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.foot-horizontal a {
    text-decoration: none;
    font-size: smaller;
    white-space: nowrap;
}

.foot-horizontal a:link, .foot-horizontal a:visited {
    color: #4083b2;
}

.foot-horizontal a:hover {
    color: #00b270;
}

.foot-copyright {
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .navbar, .navbar-links ul {   
      flex-direction: column;
    }

    .navbar {
        height: auto;
    }

    .navbar-logo {
        height: 66px;
    }

    .navbar-links ul li {
        width: 100vw;
    }

    .navbar-toggle {
        display: inline-block;
    }

    .foot-horizontal {
        flex-direction: column;
        align-items: center;
        font-size: larger;
        border-bottom: none;
    }

    .foot-horizontal div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot-horizontal div ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot-copyright {
        border-top: 1px solid #686868;
    }
}

.hidden {
    display: none;
}

.fa {
    margin: 3px;
    font-size: 1.1em !important;
}

.fa:hover {
    color: #00b270 !important;
}

.fa-facebook {
    color: white !important;
}
  
.fa-youtube {
    color: white !important;
}