main {
    width: 95%;
}

h1 {
    text-align: center;
}

#album-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1264px;
    margin: 0 auto;
    margin-bottom: 21.440px;
}

.gallery-column {
    flex: 25%;
}

.gallery-column > .album-cover-container {
    padding: 10px;
    position: relative;
}

.album-cover-container > img {
    width: 100%;
    transition: opacity 0.33s ease;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.middle > h2 {
    font-size: 2em;
}

.middle > .fa-spotify {
    color: white;
    background-color: #1db954;
    margin: 0;
    font-size: 2em;
    padding: 15px;
}

.middle > .fa-spotify:hover {
    color: #d1d1d1;
    background-color: #179242;
}

.album-cover-container:hover > img {
    opacity: 0.25;
}

.album-cover-container:hover .middle {
    display: block;
}

@media screen and (min-width: 701px) and (max-width: 1350px) {
    #album-gallery {
        width: 632px;
    }
    
    .gallery-column {
        flex: 50%;
    }
}

@media screen and (max-width: 700px) {
    #album-gallery {
        width: 316px;
    }
    
    .gallery-column {
        flex: 100%;
    }
}

@media screen and (max-width: 350px) {
    #album-gallery {
        width: 100%;
    }

    .gallery-column > .album-cover-container {
        font-size: 5vw;
    }
}
