main {
    width: 95%;
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid #5d5d5d;
}

main > section {
    padding: 10px;
}

h2 {
    font-size: 1.75em;
}

.quote-image-container img {
    width: 400px;
    margin: 20px;
    float: right;
}

.quote-image-container > blockquote {
    margin: 0;
    font-size: larger;
    line-height: 2.11;
    text-align: justify;
}

.links-container {
    margin: 23.240px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.official-website-link {
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #686868;
    border-radius: 10px;
    font-size: 1.05em;
    margin-bottom: 10px;
}

.official-website-link:hover {
    background-color: #00b270;
}

.first-letter {
    float: left;
    width: 0.7em;
    font-family: algerian, courier;
    font-size: 500%;
    line-height: 80%;
}

.social-media-links-container .fa {
    color: white;
    font-size: 1.75em;
    text-align: center;
    width: 50px;
    padding: 10px;
}

.social-media-links-container .fa:hover {
    opacity: 0.7;
}

.social-media-links-container .fa-youtube {
    background-color: #ff0000;
}

.social-media-links-container .fa-facebook {
    background-color: #1877f2;
}

.social-media-links-container .fa-spotify {
    background-color: #1db954;
}

.description-span {
    font-size: small;
}

@media screen and (max-width: 700px) {
    .quote-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quote-image-container img {
        width: 75%;
        margin: 0;
        float: none;
    }
}

@media screen and (max-width: 350px) {
    .quote-image-container img {
        width: 95%;
    }
}
